.button {
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 10px;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.light {
  border: 2px solid #fff;
  color: #fff;
}

.dark {
  border: 2px solid #32ffe4;
  color: #32ffe4;
}

.button a {
  padding: 15px 60px;
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
}

.light:hover {
  background-color: #fff;
  color: #e3598b;
}

.dark:hover {
  background-color: #32ffe4;
  color: #3c5aa8;
}
